.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid;
    width: 200px;
    padding: 30px;
    border-radius: 6%;
}

.buttonRegister {
    margin-top: 10px;
}

.inputs {
    width: 200px;
}